.container {
  height: 400px;
  width: 700px;
  background-color: rgb(224, 221, 221);
  align-items: center;
  justify-content: center;
  margin: auto;
  border-radius: 16px;
}

.text {
  text-align: center;
  background-color: brown;
  color: #ffffff;
  text-shadow: 2px 2px 4px #000;
}

.res {
  color: crimson;
  text-align: center;
  text-shadow: 2px 2px 4px #f490c7;
  font-size: 50px;
  font-family: 'Courier New', Courier, monospace;
}

.timer {
  color: crimson;
  text-align: center;
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
}

.disQues {
  background-color: aliceblue;
  padding: 5px;
  box-sizing: border-box;
  width: 80%;
  margin-top: 20px;
  margin-left: 70px;
  box-shadow: 2px 2px 4px #414040;
  border-radius: 16px;
}

.ques {
  text-align: center;
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
}

.ans {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: 40px;
  margin-top: 20px;
}

.btn {
  margin-top: 5px;
  background-color: crimson;
  color: #fff;
  width: 30%;
  height: 40%;
  font-size: 20px;
  margin-bottom: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}